body {
  touch-action: none;
}

* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

input, textarea {
  -webkit-user-select: text;
  user-select:text;
}

/* Not correctly used atm */
@keyframes fly-out {
  0% {
    transform: var(--current-transform) scale(1);
    opacity: 1;
  }
  100% {
    transform: var(--current-transform) translate(var(--fly-x, 0px), var(--fly-y, 0px)) scale(0.5);
    opacity: 0;
  }
}

.customBackground {
  /* Centered radial gradient - lighter in middle, darker at edges */
  background: radial-gradient(
    ellipse 70% 70% at 50% 50%,
    #7D5A50 0%,
    #6D4C41 30%,
    #5D4037 55%,
    #4E342E 75%,
    #3E2723 100%
  );
}

/* Tablet.css */

/* @keyframes fly-in-from-edge {
  from {
    transform: translate(var(--start-x), var(--start-y)) scale(0.8);
  }
  to {
    transform: translate(-50%, -50%) translate(var(--land-offset-x), var(--land-offset-y)) rotate(var(--land-rotation));
  }
} */

@keyframes fly-in-from-edge {
  from {
    transform: translate(calc(-50% + var(--start-x)), calc(-50% + var(--start-y))) scale(0.8);
  }
  to {
    transform: translate(calc(-50% + var(--land-offset-x)), calc(-50% + var(--land-offset-y))) rotate(var(--land-rotation));
  }
}