body {
  touch-action: none;
}

* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

/* Not correctly used atm */
@keyframes fly-out {
  0% {
    transform: var(--current-transform) scale(1);
    opacity: 1;
  }
  100% {
    transform: var(--current-transform) translate(var(--fly-x, 0px), var(--fly-y, 0px)) scale(0.5);
    opacity: 0;
  }
}

/* Tablet.css */

@keyframes fly-in-from-edge {
  from {
    transform: translate(var(--start-x), var(--start-y)) scale(0.8);
  }
  to {
    transform: translate(-50%, -50%) translate(var(--land-offset-x), var(--land-offset-y)) rotate(var(--land-rotation));
  }
}
