* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

/* Not correctly used atm */
@keyframes fly-out {
  0% {
    transform: var(--current-transform) scale(1);
    opacity: 1;
  }
  100% {
    transform: var(--current-transform) translate(var(--fly-x, 0px), var(--fly-y, 0px)) scale(0.5);
    opacity: 0;
  }
}